In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
%matplotlib inline

In [28]:
feed_comp = pd.read_excel(
    "Samples Naphtha2.xlsx",
    skiprows=8,
    sheet_name=None,
    parse_dates=True,
    decimal='.'
)
feed_comp.keys()

odict_keys(['NI -0.3', 'NI 2.6', 'NI 7.0', 'NI 8.2', 'NI 9.3'])

In [37]:
feed_comp_test = feed_comp['NI 9.3']
feed_comp_test.head()

,COMPOSANT,DESCRIPTION COMPOSANT,VALEUR,SPEC. MINI,SPEC. MAXI,UNITÉ DE MESURE,DATE D'ÉCHANTILLON
0,#10,Temp 10%,44,NaN,NaN,TEMP,30.05.2022 17:40:28
1,#30,Temp 30%,46,NaN,NaN,TEMP,30.05.2022 17:40:28
2,#5,Temp 05%,44,NaN,NaN,TEMP,30.05.2022 17:40:28
3,#50,Temp 50%,49,NaN,NaN,TEMP,30.05.2022 17:40:28
4,#70,Temp 70%,54,NaN,NaN,TEMP,30.05.2022 17:40:28

In [38]:
# Select all rows with weight based value components
mask_wt = feed_comp_test["UNITÉ DE MESURE"] == "PCT_GEW"
feed_comp_wt = feed_comp_test[mask_wt]
feed_comp_wt.head()

,COMPOSANT,DESCRIPTION COMPOSANT,VALEUR,SPEC. MINI,SPEC. MAXI,UNITÉ DE MESURE,DATE D'ÉCHANTILLON
7,2-methylbutene-2,2Me2C4-(gew),0.064,NaN,NaN,PCT_GEW,30.05.2022 17:40:28
17,5147,n/i paraffinen(gew),7.15,NaN,NaN,PCT_GEW,30.05.2022 17:40:28
18,5148,Benzeen(gew),1.87,NaN,NaN,PCT_GEW,30.05.2022 17:40:28
22,5197,Totaal olefinen(gew),<0.50,NaN,NaN,PCT_GEW,30.05.2022 17:40:28
23,5198,Totaal aromaten(gew),1.88,NaN,NaN,PCT_GEW,30.05.2022 17:40:28

In [39]:
    nafta_converter = pd.read_excel(
        "naphtha_converter_TRAlab_Spyro.xlsx",
        sheet_name="Detailed_comp"
    )[["Lab_name", "Spyro_name"]].set_index("Lab_name")["Spyro_name"]

In [40]:
#nafta_converter

In [41]:
#feed_comp_wt

In [42]:
feed_comp_wt = feed_comp_wt.replace(nafta_converter.to_dict()).set_index("DESCRIPTION COMPOSANT")["VALEUR"]
feed_comp_wt = feed_comp_wt[feed_comp_wt.index.notnull()]
feed_comp_wt = feed_comp_wt.astype('float64')
feed_comp_wt.head()

DESCRIPTION COMPOSANT
B2M2     0.064
BENZ     1.870
B1       0.000
C6ISO    8.380
AOLC6    0.010
Name: VALEUR, dtype: float64

In [43]:
# create .dat file input
feed_comp_wt_dct = feed_comp_wt.to_dict()
print("KEYW=&NAME")
print('   ' + ', '.join("{}={:}".format(key, value, width=72) for key, value in feed_comp_wt_dct.items()) + ', END')

KEYW=&NAME
   B2M2=0.064, BENZ=1.87, B1=0.0, C6ISO=8.38, AOLC6=0.01, C7ISO=0.18, C7NAF=0.04, AOLC7=0.0, C8ISO=0.02, C8NAF=0.0, C9ARO=0.0, C9ISO=0.0, C9NAF=0.0, CESAN=0.97, CPTAN=2.867, IC5=2.138, MCPTA=6.819, NBUTA=0.014, NC7=0.037, NC6=20.63, NC9=0.014, NC8=0.035, NC5=55.873, TOLUO=0.009, END

In [44]:
# create .ecf file input

print("[NAME]")
print(' '.join("{} {}".format(key, value) for key, value in feed_comp_wt_dct.items()))

[NAME]
B2M2 0.064 BENZ 1.87 B1 0.0 C6ISO 8.38 AOLC6 0.01 C7ISO 0.18 C7NAF 0.04 AOLC7 0.0 C8ISO 0.02 C8NAF 0.0 C9ARO 0.0 C9ISO 0.0 C9NAF 0.0 CESAN 0.97 CPTAN 2.867 IC5 2.138 MCPTA 6.819 NBUTA 0.014 NC7 0.037 NC6 20.63 NC9 0.014 NC8 0.035 NC5 55.873 TOLUO 0.009